.clasify_wrap {
  display: flex;
  justify-content: space-between;
  line-height: 4;
  border-bottom: 2px solid #555555;
}

.catalog {
  font-size: 18px;
  color: rgb(158, 158, 158);
  display: flex;
}
.selected{
  color: white;
}
.catalog > div:not(:last-child) {
  margin-right: 20px;
}
.sort_type {
  display: flex;
}
.sort_type>div{
    color:#767676;
    margin-right:10px;
}
select{
    background:unset;
    border:none;
    color: white;
    outline: none;
} 
