.movie_wrap {
    width: 320px;

    .movie_img_wrap {
        img {
            width: 320px;
            height: 460px;
        }
    }

    .movie_instruction {
        .movie_desc_line {

            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}